# OS & Editors folders
.DS_Store
.cache
.directory
.project
.settings
.tmproj
.ropeproject
.pydevproject
nbproject
Thumbs.db
.idea
*.orig
.c9
.~c9_invoke*
*~

# Python
__pycache__
*.pyc
venv

# Development
local.py
logs/
*.log
*.old
celerybeat-schedule

# Collected static & Dev media
/media
/static

# DBs
/*.db
/*.sqlite3
*.backup
*.dump
